<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo List</title>
        <link rel="stylesheet" type="text/css" href="./styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <main class="main-content">
            <div class="content__container">
                <span class="add-task-form__container">
                    <form action="/todos" method="POST">
                        <h1>Add New Task</h1>
                        <input type="text" name="todo" placeholder="Enter a new to-do" required>
                        <button type="submit">Add</button>
                    </form>
                </span>
            </div>
        </main>
    </body>
</html>

