body {
    background: linear-gradient(90deg, rgba(93, 142, 251, 1) 0%, rgba(93, 142, 251, 1) 50%, rgba(0, 212, 255, 1) 100%);
    height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F6F6F6;
}

.main-content {
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.main-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

ul {
    width: 100%;
    list-style: none;
    padding: 0;
    max-height: 250px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

ul li:last-child {
    border-bottom: none;
}
