<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Welcome</title>
</head>
<body>
    <main class="main-content">
        <% if (username) { %>
            <!-- Display welcome message if user is logged in -->
            <h1>Welcome, <%= username %>!</h1>
            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        <% } else { %>
            <!-- Show login form if user is not logged in -->
            <h1>Login</h1>
            <% if (errorMessage) { %>
                <p class="error-message"><%= errorMessage %></p>
            <% } %>
            <form action="/login" method="POST">
                <span class="form-input-container">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </span>
                <span class="form-input-container">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </span>
                <button type="submit">Login</button>
            </form>
        <% } %>
    </main>
</body>
</html>
