<%- include('partials/header', {title: "Home"}) %>
    <h1>Welcome</h1>
    <ul>
    <li><a href="/auth/sso">Login with SSO</a></li>
    <li><a href="/login">Login with Local Account</a></li>
    <li><a href="/signup/sso">Signup with SSO</a></li>
    <li><a href="/signup">Signup</a></li>
    </ul>
<%- include('partials/footer') %>
