<%- include('./partials/header.ejs', {title: "Github SSO - Error"})%>
  <div class="main-content">
    <h1>Error</h1>
    <p class="error-message">An error occurred. Please try again later.</p>
    <div class="button-container">
      <a href="/" class="action-button">Home</a>
    </div>
  </div>
</body>
</html>
