<%- include('partials/header') %>
    <body>
        <main class="main-content">
            <h1><a href='/'>Weather Reporter</a></h1>
            <h2>It is currently <%= temperature %>°C and <%= weatherCondition %> in <%= city %>.</h2>
        </main>
    </body>
</html>

